.btn {
  display: block;
  width: 250px;
  height: 48px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #1c1c1c;
  background-color: transparent;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    background-color: #6d0000;
    border: 1px solid transparent;
    color: #fff;
    transition: all 400ms;
  }
}
