.wrapper {
  display: grid;
  max-width: 1400px;
  min-height: 600px;
  position: relative;
  top: 50%;
  transform: translatey(-50%);
  grid-template-columns: 700px 1fr;
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn 2s ease-in;
}

.headline {
  font-size: 62px;
  line-height: 78px;
  margin-top: 80px;
}

.subtext {
  margin-top: 15px;
  font-size: 26px;
  line-height: 32px;
}

.btn {
  margin-top: 60px;
  display: inline-block;
  min-width: 250px;
  padding: 20px;
  font-size: 22px;
  background: #6d0000;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
  text-align: center;
  &:hover {
    transition: all 500ms;
    background: linear-gradient(
      225deg,
      rgb(73, 1, 1),
      rgb(109, 0, 0) 50%,
      rgb(73, 1, 1)
    );
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: 1fr;
    height: 100%;
  }
  .headline {
    margin-top: 50px;
    font-family: "PT Sans", sans-serif;
    line-height: 66px;
  }
  .btn {
    margin-bottom: 40px;
  }
}

@media (max-width: 510px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .headline {
    margin-top: 40px;
    font-size: 42px;
    line-height: 58px;
  }

  .subtext {
    margin-top: 15px;
    font-size: 22px;
    line-height: 26px;
  }
}
