.activeQuiz {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: max-content 1fr;
  min-height: 600px;
  animation: fadeIn 2s;
}

.count {
  grid-column: 1/-1;
  justify-self: end;
  margin-top: 30px;
  margin-right: 60px;
  font-size: 18px;
}
.content {
  grid-column: 2;
  margin-top: 50px;
  margin-right: 30px;
}

.img {
  background-size: cover;
  grid-column: 1;
  width: 75%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.13);
  justify-self: center;
  margin-bottom: 50px;
}

.headline {
  margin-right: 30px;
  font-family: "Viaoda Libre", cursive;
  font-weight: normal;
  font-size: 50px;
  line-height: 70px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .activeQuiz {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr 1fr;
    min-height: 100%;
  }

  .count {
    grid-column: 1;
    margin-bottom: 40px;
    margin-right: 0;
  }

  .img {
    background-size: cover;
    grid-row: 2;
    width: 65%;
  }

  .content {
    grid-column: 1;
    grid-row: 3;
    margin-top: 0;
    margin-right: 0;
    min-height: 480px;
  }
}

@media (max-width: 510px) {
  .headline {
    margin-right: 30px;
    font-family: "Viaoda Libre", cursive;
    font-weight: normal;
    font-size: 34px;
    line-height: 48px;
  }
  .img {
    background-size: cover;
    grid-row: 2;
    width: 60%;
    min-width: 315px;
    max-height: 400px;
  }
}
